{% extends "base.html.twig" %}

{% block body %}
  {% include "include/menu.html.twig" %}
  <div class="container-fluid">
    <div class="row">
      <img class="img-responsive" style="background-size:cover;" src="{{asset('assets/images/Dublin.jpg')}}" alt="">
    </div>
  </div>
  <br>
  <div class="container">
    <div
      class="row">
      <!--message affiché-->
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{message}}
        </div>
      {% endfor %}
      <!--End message affiché-->
      <h1>
        Ville de Depart</h1>
      <div class="text-right">
        <a class="btn btn-primary" href="{{path('admin_add_ville')}}">Ajouter de Ville</a>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Ville de Depart</th>

              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            {% for ville in villes %}
              <tr>
                <td>{{ville.villeDeDepart}}</td>
                <td>
                  <a class="btn btn-warning" href="{{path('admin_edit_ville', {'id':ville.id})}}">Edit</a>
                  |<form method="post" action="{{path('admin_delete_ville', {'id':ville.id})}}" style="display:inline-block;">
                    <input name="_method" type="hidden" value="DELETE">
                    <input type="hidden" name="_token" value="{{csrf_token('delete' ~ ville.id)}}">
                    <button class="btn btn-danger" onclick="return confirm('Etes vous vraiment sûr?')" type="submit">Delete</button>
                  </form>


                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}